body {
	font-family: Avenir, Arial, Sans-Serif;
	font-size: 100%;
}
h1, h2, h3, h4, h5 {
	font-family: Futura, Arial, Sans-Serif;
	padding-bottom: .5em;
}
h1 {
	font-size: 2.3em;
	padding-bottom: .5em;
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	padding-bottom: 3px;
}
